<div class="container">
    <div class="row">
        <div class="col">
            <table class="table-cart" *ngIf="cartItems.length > 0">
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product Detail</th>
                        <th>   Info </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cartItem of cartItems" class="tr-body">
                        <td>
                            <img  alt="{{cartItem.product.name}}" src="assets\images\products\placeholder.png"/>
                        </td>
                        <td class="product-detail">
                             <p> {{cartItem.product.name}}</p>
                             <p>{{cartItem.product.price}}</p>
                        </td>
                        <td class="product-info">
                            <p>Quantity</p>
                            <div class="quantity-info">
                            <button class="button-quantity plus" (click)="addQuantityOnCart(cartItem.product)">+</button>
                            <i>{{cartItem.quantity}}</i>
                            <button class="button-quantity minor" (click)="removeQuantityOnCart(cartItem.product)">-</button>
                        </div>
                        <button class="button-quantity remove" (click)="removeOnCart(cartItem.product)">Remove</button>
                        
                            <p>SubTotal: {{(cartItem.product.price * cartItem.quantity) | currency: "USD"}}</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <ul>
                                <li>Total Quantity: {{totalQuantity}}</li>
                                <li>Shipping:FREE</li>
                                <li>Total Price: {{ totalPrice| currency : "USD"}}</li>
                               <li><a class="button-quantity" [routerLink]="['/checkout']">Checkout</a></li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div *ngIf=" cartItems.length <= 0" class="product-not-found-container">
                <div class="product-div">
                   No Product in Cart
                </div>
       
               </div>

        </div>
    </div>
</div>