<title>product-list</title>
<div class="container">
    <div class="row">
        <div class="product-item" *ngFor="let tempProduct of products" >
            <a [routerLink]="['detail',tempProduct.id]"><img alt="product-image" src="assets\images\products\placeholder.png"/></a>
            <div class="product-name" *ngIf="tempProduct.name.length >=15">
                {{tempProduct.name | slice:0:17  }} ...</div>
                <div class="product-name" *ngIf="tempProduct.name.length < 15">
                    {{tempProduct.name  }} </div>
            <div class="product-price">$ {{tempProduct.price}}</div>
            <button class="add-product" (click)="addToCart(tempProduct)">Add in Cart</button>

          
        </div>
     

        <div *ngIf=" products.length <= 0" class="product-not-found-container">
            <div class="product-div">
                Product Not Found
            </div>
   
           </div>
    </div>

</div>
<div class="pagination">
    <app-pagination (indexPagination)="indexPaginationIndex($event)"></app-pagination>
</div>