<!--  "node_modules/bootstrap/dist/css/bootstrap.min.css" -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col col-xl">
          <app-product-search></app-product-search>
          
            <div class="container-to-section">

           
            <app-product-category></app-product-category>
            
            <router-outlet ></router-outlet>
            
          </div>
          
        </div>
      </div>
    </div>
    <div class="container-footer">
      <div class="row-footer">
        <div class="col">
        <footer>
         <div> 
           <a href="#">Site Map</a> | <a href="#">Terms</a> |  <a href="#">Privacy</a> |  <a href="#">rights to inc</a>
         </div>
        </footer>
        </div>
      </div>
    </div>

  </body>
</html>