<div class="container">
    <form [formGroup]="checkOutFormGroup">

        <!-- Customer info -->
        <div formGroupName="customer" class="form-group customer">
            <h1>Customer</h1>
            <div class="form-group-item">
               <label for="firstName">First Name:</label>
                <input type="text" class="form-control" formControlName="firstName" id="firstName"/>

                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert-form-control">

                    <div *ngIf="(firstName?.errors?.required) || (firstName?.errors?.notOnlyWhitespace) ">
                        First name is required
                    </div>
                    <div *ngIf="firstName?.errors?.minLength">
                        First Name must be at least 2 characters Long
                    </div>
                    <div *ngIf="firstName?.errors?.maxLengthOfWord">
                        first name must be at Maximum 15 characters Long
                    </div>
                    
                </div>
            </div>
            <div class="form-group-item">
                <label for="lastName">last Name:</label>
                 <input type="text" class="form-control" formControlName="lastName" id="lastName"/>
            
                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                class="alert-form-control">
            
                    <div *ngIf="lastName?.errors?.required  || (firstName?.errors?.notOnlyWhitespace)">
                        Last Name is required
                    </div>
                    <div *ngIf="lastName?.errors?.minLength">
                        Last name must be at least 2 characters Long
                    </div>
                    <div *ngIf="lastName?.errors?.maxLengthOfWord">
                        first name must be at Maximum 15 characters Long
                    </div>

                </div>
            
                </div>
             <div class="form-group-item">
                <label for="email">Email:</label>
                 <input type="text" class="form-control" formControlName="email" id="email"/>

                 <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert-form-control">

                    <div *ngIf="email?.errors?.required">
                        Email is required
                    </div>
                        <div *ngIf="email?.errors?.pattern">
                            Email must be a valid email address format.
                        </div>
                 </div>
             </div>
        </div>


        <!-- SHipping Address -->
        <div formGroupName="shippingAddress" class="form-group shippingAddress">
            <h1>shipping Address</h1>

            <div class="form-group-item">
               <label for="country">Country:</label>
               <select formControlName="country" id="country"  class="form-control" (change)="getStates('shippingAddress')" >
                   <option *ngFor="let country of countries"
                   
                   [ngValue]="country">{{country.name}} </option>
               </select>

               <div *ngIf="shippingCountry?.invalid && (shippingCountry?.dirty || shippingCountry?.touched)" class="alert-form-control">

                <div *ngIf="shippingCountry?.errors?.required">
                    Form Country is required
                </div>

               </div>
            </div>

            <div class="form-group-item">
                <label for="street">Street:</label>
                 <input type="text" class="form-control" formControlName="street" id="street"/>

                 <div class="alert-form-control" *ngIf="shippingStreet?.invalid && (shippingStreet?.touched || shippingStreet?.dirty)">

                    <div *ngIf="shippingStreet?.errors?.required || (shippingStreet?.errors?.notOnlyWhiteSpace)">
                        Street is required
                    </div>
                    <div *ngIf="shippingStreet?.errors?.minLength">
                        Street must be at least 2 characters long
                    </div>
                 </div>
             </div>

            
             <div class="form-group-item">
                <label for="city">City:</label>
                 <input type="text" class="form-control" formControlName="city" id="city"/>

                 <div class="alert-form-control" *ngIf="shippingCity?.invalid && (shippingCity?.touched || shippingCity?.dirty)">

                    <div *ngIf="shippingCity?.errors?.required || (shippingCity?.errors?.notOnlyWhiteSpace)">
                        City is required
                    </div>
                    <div *ngIf=" shippingCity?.errors?.minLength">
                        City must be at least 2 characters long
                    </div>
                 </div>

             </div>

             <div class="form-group-item">
                 <label for="state">State:</label>
                 <select formControlName="state" id="state"  class="form-control" >
                     <option *ngFor="let state of shippingAddressStates" [ngValue]="state"> 
                         {{state.name}} </option>
                 </select>

                 
               <div *ngIf="shippingState?.invalid && (shippingState?.dirty || shippingState?.touched)" class="alert-form-control">

                <div *ngIf="shippingState?.errors?.required">
                    Form State is required
                </div>
               </div>
             </div>

             <div class="form-group-item">
                <label for="zipCode">Zip Code:</label>
                 <input type="text" class="form-control" formControlName="zipCode" id="zipCode" />

                 <div class="alert-form-control" *ngIf="shippingZipCode?.invalid && (shippingZipCode?.touched || shippingZipCode?.dirty)">

                    <div *ngIf="shippingZipCode?.errors?.required || (shippingZipCode?.errors?.notOnlyWhiteSpace)">
                        Zip Code is required
                    </div>
                    <div *ngIf=" shippingZipCode?.errors?.minLength">
                        Zip Code must be at least 2 characters long
                    </div>
                 </div>
                 
             </div>

        </div>



         <!-- Credit Card -->
         <div formGroupName="creditCard" class="form-group shippingAddress">
            <h1>credit Card</h1>

            <div class="form-group-item">
               <label for="cardType">card Type:</label>
               <select formControlName="cardType" id="cardType"  class="form-control"  >
                   <option>Visa</option>
                   <option>MasterCard</option>
                   <option>Lelo</option>
               </select>

               <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert-form-control">

                <div *ngIf="creditCardType?.errors?.required ">
                 Credit Card type is required
                </div>
               </div>

            </div>

            <div class="form-group-item">
                <label for="nameOnCard">Name on Card:</label>
                 <input type="text" class="form-control" formControlName="nameOnCard" id="nameOnCard"/>

                 <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)" class="alert-form-control">

                  <div *ngIf="creditCardNameOnCard?.errors?.required ">
                    Card Name  is required
                  </div>
                  <div *ngIf="creditCardNameOnCard?.errors?.minlength">
                      Name must be at least 2 characters Long
                  </div>
                 </div>

             </div>

            
             <div class="form-group-item">
                <label for="cardNumber">card Number:</label>
                 <input type="text" class="form-control" formControlName="cardNumber" id="cardNumber"/>


                 <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert-form-control">

                    <div *ngIf="creditCardNumber?.errors?.required ">
                      Card Number  is required
                    </div>
                    <div *ngIf="creditCardNumber?.errors?.pattern">
                      Card Number must be 16 digits long
                    </div>
  
                   
                  </div>
  
  

             </div>


             <div class="form-group-item">
                <label for="securityCode">security Code:</label>
                 <input type="text" class="form-control" formControlName="securityCode" id="securityCode" />
            
            
                 <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert-form-control">

                    <div *ngIf="creditCardSecurityCode?.errors?.required ">
                      Security Code  is required
                    </div>
                    <div *ngIf="creditCardSecurityCode?.errors?.pattern">
                        Security Code must be 3 digits long
                    </div>
  
                    </div>

                </div>


             <div class="form-group-item">
                <label for="expirationMonth">expiration Month:</label>
                <select formControlName="expirationMonth" id="expirationMonth"  class="form-control" >
                    <option *ngFor="let month of creditCardMonths"> {{month}} </option>
                </select>
            </div>

            <div class="form-group-item">
                <label for="expirationYear">expiration Year:</label>
                <select formControlName="expirationYear" id="expirationYear"  class="form-control" (change)="handleMonthsAndYears()" >
                    <option *ngFor="let year of creditCardYears"> {{year}} </option>
                </select>
            </div>

        </div>
        <div class="form-group shippingAddress">
            <h3>Review Your Order</h3>
            <div>
                <p>Total Quantity: {{totalQuantity}}</p>
                <p>Shipping: FREE</p>
                <p>Total Price: {{totalPrice | currency: 'USD'}}</p>
            </div>
        </div>


        <input type="submit" value="Purchase" class="submit-button" (click)="onSubmit()" />
    </form>
</div>