div.container-category {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}

div.row {
    margin-top: 30%;
    display: flex;
    width: 100%;
    height: 40%;
 
    flex-direction: column;
}


div.element-father {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 20%;
}

div.element-child {
    display: flex;
   height: 55%;
   width: 100%;
   align-items: center;
   justify-content: center;
}
div.element-child:hover {

    background-color: rgb(135, 138, 138);
}


li:hover {
    background-color: rgb(202, 205, 214);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 134, 255);
}

a {
    cursor: pointer;
    text-decoration: none;
}

.active  {
    background-color: rgb(135, 138, 138);
  color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}