div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
 
}

div.form-group-item {

    display: flex;
    flex-direction: column;
}

div.form-group {
    border: 1.5px solid rgb(144, 144, 144);
    padding: 18px;

    flex-direction: column;
    margin-top: 20px;
    width:500px;
    
}
input.form-control, select.form-control, option {
    border-radius: 7px;
    border: 1px solid rgb(170, 170, 170);
   padding: 5px;
}

input.form-control:focus, select.form-control:focus {
    background: rgb(240, 240, 255);
   outline:none;
}

input.submit-button {
    border: none;
    color: black;
    background: rgb(0, 134, 255);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    
}
input.submit-button:hover {
   
    background: rgb(5, 95, 174);
}

form {
    display: flex;
    align-items: center;
  flex-direction: column;

}


div.form-group-item {
    margin-bottom: 8px;
}

div.alert-form-control {
    color: rgb(183, 62, 10);
    border: 1px solid rgb(183, 62, 10);
    border-radius: 7px;
    max-width: 600px;
    max-height: 30px;
    text-align: center;
    margin-top: 5px;
    background-color: rgb(255, 229, 229);
    font-weight: bold;
}