<div class="container">
    <div class="row">
        <div class="col" *ngIf="tempProduct != null">
     
            <a><img alt="product-image" src="assets\images\products\placeholder.png"/></a>
    
                <div class="product-name">
                    {{tempProduct.name  }} </div>
            <div class="product-price">$ {{tempProduct.price}}</div>
            
            <button class="add-product" (click)="addToCart(tempProduct)">Add in Cart</button>
            
            <hr>
            <div class="product-description">
                <h1>Description</h1>
                <div class="product-description-child">{{tempProduct.description}} </div>
            </div>

            <a class="return-list" routerLink="">Back To List</a>
        </div>

        <div *ngIf="tempProduct == null" class="product-not-found-container">
            <div class="product-div">
                Product Not Found
            </div>
        </div>
        
             
    </div>
</div>
